$font-headings: 'Source Sans Pro', sans-serif;
$font-body: 'Josefin Sans', sans-serif;

html {
  font-size: 125%;
}

body {
  background: 
    linear-gradient(
      to top,
      rgba(175, 20, 20, 0.2), 
      rgba(175, 20, 20, 0.6)
    ), 
    url('assets/lukasz-szmigiel-221650-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: $font-body;
  line-height: 1.6;
}

p {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 7px lightgrey;
}

.wrapper {
  max-width: 800px;
  padding: 1% 5%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}